.card__wrapper {
  margin-top: 4rem;
  width: 100%;
  padding: 24px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
  border-radius: 15px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}

.card__wrapper.dark {
  background-color: #1e2a47;
  color: #fff;
}

.card__wrapper.light {
  background-color: #fff;
  color: #2b3442;
}

.card__img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card__info {
  width: 100%;
  flex: 2;
  margin-left: 2rem;
}

.card__info .card__info--top .card__info--top--user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first a {
  color: #0079ff;
  text-decoration: none;
}

.first h2 {
  font-size: 1.2rem;
}

.joined-at {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.card__info--metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;
  margin-top: 1.5rem;
  text-align: center;
}

.card__info--metrics.dark {
  background-color: #141d2f;
  color: #fff;
}

.card__info--metrics.light {
  background-color: #f6f8ff;
  color: #000;
}

.card__info--bottom {
  padding: 0.5rem;
  margin-top: 1.2rem;
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 2.5rem;
}

.card__info--bottom svg {
  margin-right: 0.5rem;
}

.card__info--bottom .left,
.card__info--bottom .right {
  display: flex;
  flex-direction: column;
}

.card__info--bottom .left div:first-child,
.card__info--bottom .right div:first-child {
  margin-bottom: 1rem;
}

.not-available.light {
  color: #4b6a9b;
}

.not-available.dark {
  color: #fff;
}

.right > div > a {
  text-decoration: none;
  color: #4b6a9b;
}

@media (max-width: 700px) {
  .card__wrapper {
    margin-top: 4rem;
    width: 100%;
    padding: 12px;
    box-shadow: 0px 16px 30px -10px #4660bb33;
    border-radius: 15px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card__info--bottom {
    padding: 0.5rem;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .card__info--bottom .left div:first-child,
  .card__info--bottom .right div:first-child {
    margin-bottom: 0.3rem;
  }


  .card__img{
    display: grid;
    place-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .card__info {
    width: 90%;
    margin: 0 auto;
  }
}


@media (min-width: 880px) {
  .card__wrapper {
    margin-top: 4rem;
    width: 100%;
    padding: 12px;
    box-shadow: 0px 16px 30px -10px #4660bb33;
    border-radius: 15px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

 




  .card__img{
    display: grid;
    place-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .card__info {
    width: 90%;
    margin: 0 auto;
  }
}