.theme-light {
  background-color: #f6f8ff;
  color: #2b3442;
}

.theme-dark {
  background-color: #141d2f;
  color: #ffffff;
}

.app{
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
    height: 100vh;
    overflow: hidden;
}

.app__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.no-results{
  color: #ff0000cc;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 15rem;
}