@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Space Mono", sans-serif;
  
}

a{
  text-decoration: none;
}

input{
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
}