.theme__container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme__container span{
    text-transform: uppercase;
    padding-right: 12px;
    
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2.5px;
    
}


.theme__container span.light{
    color: #697c9a;
}

.theme__container span.dark{
    color: #ffffff;
}